.header{
    padding-bottom:76px ;
}
.nav-menu {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:45px 0px 10px;
}
.nav-menu_icons {
    display: flex;
    gap: 20px;
}
.nav-menu_title {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-menu_cat {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}
//-------------------------------------//
.nav-menu--mobail {
    display: none;
    flex-direction: column;
    align-items: center;
}
.nav-menu-string-1,
.nav-menu-string-2 {
    display: flex;
    justify-self: center;
}
.nav-menu-string-2{
    gap: 13vw;
}
.nav-menu_title--mobail {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-menu_cat--mobail {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}
//-------------------------------------//
.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    gap: 30px;

}

.header-wrapper__cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header-wrapper__cat-img{
    width: 360px;
    height: 490px;

}
.header-wrapper__lightning {
    position: absolute;
}
.header-wrapper_lightning--1 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 255px;
    top: 0px;
    transform: scale(-1, 1)


}
.header-wrapper_lightning--2 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 255px;
    top: 0px;

}
.header-wrapper_lightning--3 {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 185px;
    top: 315px;
    transform: scale(-1, 1)

}
.header-wrapper_lightning--4 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 185px;
    top: 315px;

}
.header-wrapper__icon {
    display: flex;
    justify-content: center;
}